<!DOCTYPE html>
<html>
<head>
    <style>
        #loading .svg-icon-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -50px;
        }
    </style>

    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title> @ViewBag.Title </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/images/icons/favicon.png">
    @Styles.Render("~/common/css")
    @Scripts.Render("~/common/libraries")
    @Scripts.Render("~/layout")
    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

</head>
<body>
    <div id="sb-site">
        <div id="loading">
            <div class="svg-icon-loader">
                <img src="../assets/images/svg-loaders/bars.svg" width="40" alt="">
            </div>
        </div>
        <div id="page-wrapper">
            <div id="mobile-navigation">
                <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
            </div>
            <div id="page-sidebar">
                <div id="header-logo" class="logo-bg">
                    <a href="index.html" class="logo-content-big" title="Document Manager">
                        <i class="glyph-icon icon-file-archive-o"></i> DOCUMENT <i>MANAGER</i><br />
                    </a>
                    <a id="close-sidebar" href="#" title="Close sidebar">
                        <i class="glyph-icon icon-outdent"></i>
                    </a>
                </div>
                <div class="scroll-sidebar">
                    <ul id="sidebar-menu">
                        <li class="header"><span>Overview</span></li>
                        <li>
                            <a href="~/home/dashboard" title="Admin Dashboard">
                                <i class="glyph-icon icon-linecons-tv"></i>
                                <span>Admin dashboard</span>
                            </a>
                        </li>
                        <li class="header"><span>Components</span></li>
                        <li>
                            <a href="javascript:void(0);" name="parent_links" title="Function Management">
                                <i class="glyph-icon icon-wrench"></i>
                                <span>Functions Management</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a href="~/Function/AddFunction" id="/Function/AddFunction" name="links"> add function</a></li>
                                <li><a href="~/Function/ViewFunction" id="/Function/ViewFunction" name="links"> view functions</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" name="parent_links" title="Role Management">
                                <i class="glyph-icon icon-anchor"></i>
                                <span>Roles Management</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a href="~/Role/AddRole" id="/Role/AddRole" name="links"> add role</a></li>
                                <li><a href="~/Role/ViewRole" id="/Role/ViewRole" name="links"> view roles</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" name="parent_links" title="User Management">
                                <i class="glyph-icon icon-users"></i>
                                <span>Users Management</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a href="~/User/AddUser" id="/User/AddUser" name="links"> add user</a></li>
                                <li><a href="~/User/ViewUser" id="/User/ViewUser" name="links"> view users</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" name="parent_links" title="Catalogue Criteria">
                                <i class="glyph-icon icon-book"></i>
                                <span>Catalogue Criteria</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a href="~/CatalogueCriteria/AddCriteria" id="/CatalogueCriteria/AddCriteria" name="links"> add criteria</a></li>
                                <li><a href="~/CatalogueCriteria/ViewCriteria" id="/CatalogueCriteria/ViewCriteria" name="links"> view criteria</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" name="parent_links" title="Location Management">
                                <i class="glyph-icon icon-archive"></i>
                                <span>Location Management</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a href="~/PhysicalLocation/AddLocation" id="/PhysicalLocation/AddLocation" name="links"> add location</a></li>
                                <li><a href="~/PhysicalLocation/ViewLocation" id="/PhysicalLocation/ViewLocation" name="links"> view locations</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" name="parent_links" title="Document Management">
                                <i class="glyph-icon icon-file-archive-o"></i>
                                <span>Documents Management</span>
                            </a>
                            <ul class="sidebar-submenu">
                                <li><a href="~/Document/UploadDocument" id="/Document/UploadDocument" name="links"> upload document</a></li>
                                <li><a href="~/Document/ViewDocument" id="/Document/ViewDocument" name="links"> view documents</a></li>
                                <li><a href="~/Document/RequestDocument" id="/Document/RequestDocument" name="links"> request document</a></li>
                                <li><a href="~/Document/ApproveDocument" id="/Document/ApproveDocument" name="links"> approve documents</a></li>
                                <li><a href="~/Document/Transactions" id="/Document/Transactions" name="links">Transactions</a></li>
                                <li><a href="~/Document/Search" id="/Document/Search">search document</a></li>
                            </ul>
                        </li>
                    </ul><!-- #sidebar-menu -->
                </div>
            </div>
            <div id="page-content-wrapper">
                <div id="page-content">
                    <div id="page-header">
                        <div id="header-nav-left">
                            <a class="header-btn" id="logout-btn" onclick="lockscreen()" style="cursor:pointer" title="Lockscreen">
                                <i class="glyph-icon icon-linecons-lock"></i>
                            </a>
                            <div class="user-account-btn dropdown">
                                <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                                    <span id="theLoggedInUser"></span>
                                    <i class="glyph-icon icon-angle-down"></i>
                                </a>
                                <div class="dropdown-menu float-right">
                                    <div class="box-sm">
                                        <div class="login-box clearfix">
                                            <div class="user-info" style="text-align:center;color:black">
                                                <span id="theLoggedInUserRole"></span>
                                            </div>
                                        </div>
                                        <div class="divider"></div>
                                        <ul class="reset-ul mrg5B">
                                            <li>
                                                <a href="~/User/ChangePassword">
                                                    Change Password
                                                    <i class="glyph-icon float-right icon-caret-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="button-pane button-pane-alt pad5L pad5R text-center">
                                            <a onclick="logout()" style="cursor:pointer" class="btn btn-flat display-block font-normal btn-danger">
                                                <i class="glyph-icon icon-power-off"></i>
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- #header-nav-left -->
                        <div id="header-nav-right">
                            <a onclick='searchDocument()' style="cursor:pointer" class="hdr-btn" title="Search for document" >
                                <i class="glyph-icon icon-search"></i>
                            </a>
                            <a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen">
                                <i class="glyph-icon icon-arrows-alt"></i>
                            </a>
                        </div><!-- #header-nav-right -->
                    </div>

                    @RenderBody()

                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/fullscreen")
    @RenderSection("scripts", required: false)
</body>
</html>
